<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ihr Wetter">
    <meta name="author" content="Vadim Borejko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/IhrWetter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
    <title>Ihr Wetter</title>
</head>
<body>
    <header>
        <div class="rahmen">
            <h1 id="headline"> <span> Ihr Wetter </span></h1>
            <form action="./Ihr_Wetter.ejs" method="post">
                <label id="Name">Name <input type="text"class="name" name="name" required></label>
                <label id="Password">Passwort <input type="text"class="Password" name="passwort" required></label>
                <button class="submit"type="submit">Eingabe</button>
                <p><%=username%></p> 
                
            </form>
        
        
        
        <a href="register.ejs" target=" self" >registrieren</a>
        <hr class="tr0">
        </div>
        <div class="button-group">
                <a href="index.ejs" target=" self" class="Buttons">Startseite</a>
                <a href="Wetterkarte.ejs" target=" self" class="Buttons">Wetterkarte</a>
                <a href="HD_Live_Webcam.ejs" target=" self" class="Buttons">HD Live Webcam</a>
                <a href="News_u_videos.ejs" target=" self" class="Buttons">News u. Videos</a>
                <a href="reisen.ejs" target="self" class ="Buttons">Reisen</a>
        </div>
           <hr class="tr0">
    </header>
    <main>
        <div class="weather">
            <h2 class ="city"> </h2>
        </div>
        <div class="temp"> </div>
        
        <img src ="" alt "" class ="icon"> 
        <div class="description"></div>
        
        
        
        <div class="humidity"></div>
        <div class="wind"></div>
        
    </main>
    <footer class="footer">
        <div class="divfooter">
            <hr class="tr0">
            <div class="links">
                Folgen Sie der richtigen wetter.com auf</div>
                <ul class="list-links">
                    <li class="social-follow"><a data-label="Facebook" href="https://www.facebook.com/wettercom/" 
                        target="_blank" title="Der wirklich richtigen wetter.com auf Facebook folgen"
                        aria-label="Der wirklich richtigen wetter.com auf Facebook folgen"
                        rel="nofollow noopener">
                        <img class="mb" width="40" height="40" src="https://cs3.wettercomassets.com/wcomv5/images/footer/facebook.png"
                        alt="Der wirklich richtigen wetter.com auf Facebook folgen" 
                        title="Der wirklich richtigen wetter.com auf Facebook folgen">
                        <span class="hide"><br>Facebook</span></a>
                    </li>
                    <li class="social-follow"><a data-label="Twitter" href="https://twitter.com/wettercom/" 
                        target="_blank" title="Der wirklich richtigen wetter.com auf Twitter folgen"
                        aria-label="Der wirklich richtigen wetter.com auf Twitter folgen"
                        rel="nofollow noopener">
                        <img class="mb" width="40" height="40" src="https://cs3.wettercomassets.com/wcomv5/images/footer/twitter.png"
                        alt="Der wirklich richtigen wetter.com auf Twitter folgen" 
                        title="Der wirklich richtigen wetter.com auf Twitter folgen">
                        <span class="hide"><br>Twitter</span></a>
                    </li>
                    <li class="social-follow"><a data-label="Instagram" href="https://www.instagram.com/wettercom/"
                        target="_blank" title="Der wirklich richtigen wetter.com auf Instagram folgen"
                        aria-label="Der wirklich richtigen wetter.com auf Instagram folgen"
                        rel="nofollow noopener">
                        <img class="mb" width="40" height="40" src="https://cs3.wettercomassets.com/wcomv5/images/footer/instagram.png"
                        alt="Der wirklich richtigen wetter.com auf Instagram folgen" 
                        title="Der wirklich richtigen wetter.com auf Instagram folgen">
                        <span class="hide"><br>Instagram</span></a>
                    </li>
                </ul>
            </div>
            <hr class="tr0">
            <h3>Reserviert</h3>
            <a href="about.html" target="_self" title="About">About</a>
        </div>
        
    </footer>
    
</body>
</html>