<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ihr Wetter">
    <meta name="author" content="Vadim Borejko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
    <title>Registrierung</title>
</head>
<body>
    <header>
        <div class="rahmen">
            <h1 id="headline"> <span> Registrierung </span></h1>
        <hr class="tr0">
        </div>
        <div class="button-group">
                <a href="index.html" target= _self class="Buttons">Startseite</a> 
                <a href="Ihr_Wetter.ejs" target= _self class="Buttons">Ihr Wetter</a>
                <a href="Wetterkarte.ejs" target=_self class="Buttons">Wetterkarte</a>
                <a href="HD_Live_Webcam.ejs" target= _self class="Buttons">HD Live Webcam</a>
                <a href="News_u_videos.ejs" target= _self class="Buttons">News u. Videos</a>
                <a href="reisen.ejs" target=_self class ="Buttons">Reisen</a>
        </div>
           <hr class="tr0">
    </header>
    <main>
        <form action="./register.ejs" method="post">
            <div class="Centerbox">
            <label id="Name">Name <input type="text"class="name" name="name" required></label>
            <label id="Password">Passwort <input type="text"class="Password" name="passwort" required></label>
            <label id="Region">Ort <input type="text"class="Region" name="ort" required></label>
            <button class="submit"type="submit">Eingabe</button>
            <p><%=F%></p>
            
        </div>
        </form>
        
    </main>
    
</body>
</html>