
:root{
    --my-border-color:rgba(0, 255, 255, 0.591);
    --my_headline-font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --mynormal-font-family:Arial, Helvetica, sans-serif;
    --mybluebackground-color:rgba(68, 68, 236, 1);
    --mygenericcolor:rgba(0, 255, 255, 0.591);
}
html{
    font-family: var(--mynormal-font-family);
}

header{
    position:relative;
    top: 0%;
    width:100%;
}
.description{
    text-transform: capitalize;
}
main{
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 50vh;
    padding-bottom: 2.5rem;
   
}

#headline{
    
    text-align: left;
    
    
}
.tr0{
    position: relative !important;
    margin: 0%;
}
.temp{
    font-family: inherit;
    font-size: 28px;
}
#suche{

    position: relative;
    bottom: 2%;
    text-align: center;
    font-family: var(--mynormal-font-family)
}
#search input{
    float: right;
    padding: 6px;
    border: none;
    
}
div #submit{
    position: relative;
    left: 4px;
    bottom: 1px;
}
#submit{
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border-style: solid Green;
    border: 2px ;
    color:green;
    letter-spacing:1px;
    text-shadow:0px;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
    
}
#submit:hover{
    color: white;
    background:green;
}


  


h1, span {
    font-family: var(--my_headline-font-family)
}
.rahmen{
    background-color: var(--mybluebackground-color);
    width: 100%;
    margin-top: -23px;
    z-index: -20;
    
}
.button-group{
    position: relative;
    
    text-align: center;
    background-color: var(--mybluebackground-color);
    
}
a.Buttons {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    
    text-decoration: none;
    color: initial;
    font-size: 28px;
    border: 0%;
    margin: 0%;
    padding-top: 10px;
    padding-bottom:10px;

    transition: color ;
    font-family: var(--mynormal-font-family)

    
}
a{
    text-decoration: none;
    transition: text-decoration ;
    color: initial;
}

a.Buttons::first-letter{
    font-size: 30px;
    color: white;
}
a.Buttons:hover , a:hover{
    color: White;
}
.footer{
    margin-right: 0px;
    right: 0px;
    position: sticky;
    bottom:0;
    width:100%;
    overflow: hidden;
    text-align: center;
    background-color: var(--mybluebackground-color);
    
}
.links{
    font-size: 22px;
    line-height: 1.3em;
    padding-bottom: 20px!important;
    display: block;
    text-align: center;
    font-family: var(--mynormal-font-family);
}
footer a{
    color: black;
    text-decoration: none;
    font-family: var(--mynormal-font-family);
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    width: 100
}


ul.list-links, li{
    display: inline-block;
    margin-right: 5%;

}

.social-follow{
    width: 8.3333%!important;
    margin-right: 50px;
}
body{
   background-color:rgba(0, 255, 255, 0.591);
}

.forecastweather {
    display: flex;
}

.forcasts {
    margin-left: +2%;
    background-color: var(--my-border-color);
    border-style: solid;
    border-color: black;
}
h5.uhrzeit{
    font-size: 24px;
    color: red;
}
.humidity, .wind,.description{
    font-size: 20px;
}
.Centerbox{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0;
    width: 50%;
    height: 50%;
}
form p{
    border-style: dashed;
    width: max-content;
    background: darkturquoise;
    border-radius: 68px;
    border: double;
}
@media (mid-width: 50em){
    body {
        display: inline;
    }
}